h1 {
    font-weight: 200;
    font-family: sans-serif;
    background-color: #ff0000;
    border: 1px solid #006E12;
}

main {
    background-image: url("pexels-daniela-elena-tentis-118658-691114.jpg");
    background-size: cover;
}

body {
    background-color: #ffffff;
}

.main {
    display: flex;
}