body {
    background-color: #ffa7a7;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
    font-size: 60px;
}

span {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.main {
    display: flex;
    flex-direction: row;
}

h2 {
    font-size: 35px;
}